
    

<section class="login-container">
  <div class="card-header">
    <h2 class="login-title">Log In</h2>

    <form id="login-form" class="card-body">

      <div class="form-row">
        <label for="username-login" class="form-label">Username</label>
        <input type="text" id="username-login" class="form-input form-control" autofocus="true" />
      </div>

      <div class="form-row mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" id="password-login" class="form-input form-control" autofocus="true" />
      </div>

      <div class="form-row">
        <button type="submit" class="btn">Login</button>
        <a href="/signup" class="btn login-link">Signup</a>
      </div>
    </form>
  </div>
</section>

<script src="/js/login.js"></script>